$purple-color: var(--Unnamed-Color, linear-gradient(94deg, #194BFD -15.33%, #AD13FB 139.21%));
$blue-color: #194BFD;
$background-card: var(--Unnamed-Color, linear-gradient(233deg, #0E0E10 27.06%, rgba(23, 23, 26, 0.23) 92.12%));
$font-white: var(--Portfolio-white, #E6E6E6);
$card-width: 369px;
$standart-color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
$width-line: 19.281px;
$border: 1px solid var(--Unnamed-Color, #AD13FB);

@mixin button {
    padding: 8px 15px;
    border-radius: 29px;
    background: $purple-color;
    font-weight: 700;
    color: $font-white;
    font-size: 14px;
}

@mixin h1 {
    line-height: 114%;
    font-weight: 500;
    margin: 16px 0px;
    color: $font-white;
}

@mixin line ($width-line, $blue-color) {
    display: inline-block;
    width: $width-line;
    height: 2px;
    background: $blue-color;
}

a {
    text-decoration: none;
    font-family: satoshi;
    color: $font-white;
}

button {
    border: none;
}

body {
    padding: 0;
    background: var(--Unnamed-Color, #0A0A0C);
}

p {
    font-size: 14px;
    font-family: Satoshi;
}

li {
    list-style-type: none;
    color: $standart-color;
    font-size: 14px;
    font-family: Satoshi;

}

section {
    padding-top: 94px;
}

@media (max-width:768px) {
    section {
        padding-top: 90px;
    }
}

@media (max-width:576px) {
    section {
        padding-top: 50px;
    }
}

.down {
    margin-bottom: clamp(45px, 9vw, 64px);
}

#section1 {
    padding-top: clamp(80px, 14vw, 140px);
}

.background {
    position: absolute;
    background-image: url("../images/dist/bodyline.avif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.header {
    background-color: #171719;
    z-index: 3;

    &__container {
        padding-top: 5px;
    }

    &__network {
        gap: 12px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        border-radius: 19px;
        background: var(--Unnamed-Color, rgba(85, 85, 85, 0.10));
        cursor: pointer;
    }

    &__connection {
        gap: 40px;
    }

    &__connectionIcon {
        gap: 5px;
        color: $standart-color;
        font-family: 'satoshi';
        transition: 0.3s ease;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            color: $font-white;
        }

    }

    &__nav {
        padding-top: 15px;
        font-family: satoshi;
        font-weight: 700;

    }

    &__href {
        color: $background-card;
        overflow: hidden;

        &:hover {
            color: $font-white;
        }
    }

    .class-active {
        color: $font-white;
    }

    &__logo {
        svg {
            margin-right: 5px;
        }
    }

    &__tab {
        margin: 5px 0px;

        & .svg-list-dims {
            width: 35px;
            height: 35px;
            stroke: $standart-color;
            ;
        }
    }

    &__ul {
        width: 100%;
        gap: 42px;
    }

    &__button {
        @include button
    }

    @media(max-width:992px) {

        &__connection {
            gap: 10px;
        }

        &__connectionIcon {

            span {
                transition: max-width 0.7s ease;
                overflow: hidden;
                max-width: 0px;
                height: 0px;
            }

            &:hover span {
                max-width: 300px;
                height: 25px;
            }

        }

        &__ul {
            li {
                display: inherit;
                justify-content: center;
            }

            gap: 10px;
        }

        &__button {
            padding: 5px 7px;
        }
    }

    @media(max-width:768px) {
        &__nav {
            flex-direction: row;
            align-items: start;
        }

        &__logo {
            height: 55px;
        }

        &__btn {
            width: 95px;
            height: 55px;
            display: flex;
            align-items: center;
        }

        &__button {
            display: flex;
            align-items: center;
            font-size: 12px;
            height: 40px;
        }
    }

    @media(max-width:576px) {
        &__connectionIcon {
            span {
                display: none;
            }
        }

        &__lock {
            background-color: rgba(136, 136, 136, 0);
            transition: 0.3s ease;

            &:hover {
                background-color: #888888;

            }
        }

        &__mobile {
            width: 100px;

        }
    }
}

.modal {
    &__href {
        width: fit-content;
    }
}

.home {

    &__wrap {
        max-width: 1140px;
        position: relative;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__baner {
        max-width: 541px;
        margin-left: 4%;
    }

    &__h1 {
        max-width: 419px;
        color: $font-white;
        font-size: 58.575px;
        font-weight: 300;
        line-height: 114%;

        span {
            color: $blue-color;
            font-weight: 700;
        }
    }

    &__paragraf {
        color: $standart-color;
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
    }

    &__main-btn {
        max-width: 350px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-self: center;
    }

    &__btn {
        @include button;
    }

    &__href {
        width: 162px;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 14px;
        background-color: #00001000;
    }

    &__portret {
        position: absolute;
        right: 5%;
        bottom: 8%;

        svg {
            position: absolute;
        }

        z-index: -1;
    }

    &__star {
        position: absolute;
        width: 53px;
        height: 53px;
        top: 0;
        right: clamp(0px, 5vw, -40px);
    }

    &__subtract {
        left: 0;
        top: -7%;
    }

    &__purple {
        right: 95%;
        bottom: 5%;
    }

    &__curcle {
        position: absolute;
        right: 0%;
        bottom: 28%;
        width: 134px;
        height: 134px;
        border: $border;
        border-radius: 50%;

    }

    &__position {
        position: absolute;
        width: 100%;
    }

    &__border {
        height: 57%;
        bottom: 1%;
        z-index: -2;
        border: 2px solid var(--Unnamed-Color, #171719);
    }

    &__background {
        height: 100%;
        bottom: 12%;
        right: 3%;
        background: var(--Unnamed-Color, linear-gradient(233deg, #17171A 27.06%, rgba(23, 23, 26, 0.00) 92.12%));
        z-index: -1;
    }

    @media (max-width:768px) {
        &__wrap {
            margin-top: 65px;
            height: 640px;
            display: flex;
            align-items: start;
            justify-content: center;
        }

        &__h1 {
            font-size: 27px;
        }

        &__portret {
            right: auto;
            bottom: 3.2%;
        }

        &__man {
            width: 281px;
            height: 321px;
        }

        &__baner {
            max-width: 300px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 0%;
        }

        &__curcle {
            width: 70px;
            height: 70px;

            svg {
                width: 70px;
                height: 70px;
            }
        }

        &__href {
            margin: auto;
            width: 150px;
        }

        &__paragraf {
            font-size: 14px;
        }

        &__border {
            height: 100%;
        }

        &__background {
            height: 100%;
            bottom: 2%;
        }

        &__main-btn {
            width: 100%;
            height: 100px;
            flex-direction: column;
        }

    }
}

.speciality {
    color: $standart-color;

    &__main {
        max-width: 500px;

        h1 {
            @include h1
        }

        p {
            padding: 0;
        }
    }

    &__soft {
        color: $blue-color;
    }

    &__card {
        div {
            color: $standart-color;
        }

        p {
            color: $standart-color;
        }

        gap: 16px;
    }

    &__info {
        max-width: $card-width;
        padding: 24px;
        background: $background-card;

        p {
            padding-top: 16px;
        }

        h5 {
            color: $font-white;
        }
    }

    &__icon {
        position: relative;
        height: 50px;
        z-index: 2;



        & .svg-Subtract-dims {
            fill: var(--Unnamed-Color, linear-gradient(271deg, #353535 -35.33%, rgba(53, 53, 53, 0.00) 103.13%));
            position: absolute;
            left: 40%;
            z-index: -1;
            top: 10%;
        }
    }

    &__blue-line {
        @include line ($width-line, $blue-color)
    }

    &__blue-line-min {
        @include line (7px, $blue-color)
    }

}

.process {

    &__main {
        color: $standart-color;
        max-width: 500px;

        h1 {
            @include h1
        }
    }

    span {
        font-family: 'satoshi';
    }

    &__span {
        color: $standart-color;
    }

    &__blue {
        color: $blue-color;
    }

    &__link {
        width: 470px;
        position: relative;
    }

    &__diamond {
        height: 200.157px;
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: center;

        span {
            display: flex;
            width: 100px;
            justify-content: center;
            z-index: 1;
            font-family: "Space Grotesk";
            font-size: 18px;
            color: $font-white;
        }

    }

    &__diamond-position {
        bottom: 36px;
    }

    &__image {
        width: 200.157px;
        height: 200.157px;

    }

    &__name {
        position: absolute;
    }

    &__romb {
        width: 220px;
        height: 220px;
        bottom: -15%;
    }

    &__absolute {
        position: absolute;
    }

    &__index {
        position: absolute;
        z-index: 10;
        background-color: #194BFD;
    }

    &__arrow {
        position: absolute;
        z-index: 1;

    }

    &__purple1 {
        right: -6%;
        bottom: 4%;
    }

    &__purple2 {
        top: 5%;
        right: 31%;
        transform: rotate(-90deg);
    }

    &__purple3 {
        top: 2%;
        right: -4%;
    }

    &__purple4 {
        right: 30%;
        top: 84%;
    }

    @media (max-width:992px) {

        &__container {
            gap: 60px;
        }

        &__link {
            gap: 60px;
        }

        &__diamond-position {
            bottom: 0;
        }

        &__purple {
            top: auto;
            right: 47%;
            bottom: -21%;
            transform: rotate(45deg);
        }

    }

    @media (max-width:768px) {
        &__link {
            width: 300px;
        }

        &__purple {
            left: 45%;
        }
    }
}

.services {
    &__wrap {
        max-width: 1140px;
        gap: 16px;

    }

    &__main {
        color: $standart-color;
        max-width: 500px;

        h1 {
            @include h1
        }

    }

    span {
        font-family: 'satoshi';
    }

    &__span {
        color: $blue-color;
    }

    &__info {
        max-width: $card-width;
        background: $background-card;
        margin-top: 60px;
    }

    &__icon {
        position: relative;
        height: 50px;

        svg {
            position: absolute;
            top: -105%;
        }
    }

    &__body {
        color: $standart-color;

        h5 {
            color: $font-white;
        }

        position: relative;

    }

    &__line {
        padding: 16px 0px;
    }

    &__blue-line {
        @include line ($width-line, $blue-color)
    }

    &__blue-line-min {
        @include line (7px, $blue-color)
    }

    &__button {
        max-width: 176px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 29px;
        background: var(--Unnamed-Color, #18181D);
        color: $font-white;
        padding: 12px 18px;
        margin: auto;

        span {
            margin-right: 10px;
        }
    }
}


.portfolio {


    &__main {
        max-width: 426px;

        p {
            color: $standart-color;
        }
    }

    &__h1 {
        @include h1
    }

    &__span {
        color: $standart-color;
    }

    &__blue {
        color: $blue-color;
    }

    &__background {
        max-width: 100%;
        position: relative;

        img {
            max-width: 100%;
        }
    }

    &__button {
        width: 196px;
        @include button;
        position: absolute;
        font-size: 14px;
    }
}

.recomend {
    min-height: 588px;
    position: relative;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1140px;
        color: $font-white;
    }

    &__portret {
        position: relative;
        max-width: fit-content;
    }

    &__border {
        position: absolute;
        max-width: fit-content;
        border: $border;
        border-radius: 50%;
        right: -60px;
        bottom: -60px;
    }

    &__text {
        position: relative;
        max-width: 600px;
        color: $font-white;

        h1 {
            font-size: 18px;
            font-weight: 700;
        }

        p {
            font-family: Satoshi;
            color: $standart-color;
            font-size: 14px;
        }

    }

    &__image {
        position: absolute;
        top: -20%;
    }

    &__signature {
        width: 155px;
        height: 55.396px;
    }

    &__position {
        position: absolute;
    }

    &__starlet {
        width: 73px;
        height: 73px;
        top: -30px;
        left: -30px;
    }

    &__star {
        width: 47px;
        height: 47px;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    &__signature {
        width: 150px;
        height: 55px;
    }

    @media (max-width:1200px) {
        &__wrap {
            justify-content: center;
        }

        &__portret {
            margin-bottom: 5vw;
        }

        &__text {
            max-width: 100%;
        }
    }

    @media (max-width:576px) {
        &__portret {
            img {
                max-width: 100%;
            }
        }

        &__border {
            width: 80px;
            height: 80px;
            right: 20px;
            bottom: 0px;

            svg {
                width: 80px;
                height: 80px;
            }
        }

        &__starlet {
            width: 50px;
            height: 50px;
            top: -30px;
            left: 0px;
        }
    }
}

.teams {
    &__wrap {
        max-width: 1140px;
        gap: 50px;
    }

    &__main {
        color: $standart-color;
        max-width: 500px;

        h1 {
            @include h1
        }
    }

    span {
        font-family: 'satoshi';
    }

    &__span {
        color: $standart-color;
    }

    &__blue {
        color: $blue-color;
    }

    &__person {
        h3 {
            margin-top: 18px;
            color: $font-white;
        }

        p {
            max-width: 246px;
            color: $standart-color;
            font-size: 14px;
            font-family: Satoshi;
        }
    }

    &__image-wrap {
        position: relative;

    }

    &__background {
        position: absolute;
        left: -1%;
        z-index: -1;
        bottom: 0;
    }

    &__command {
        width: 246px;
        height: 329px;
    }

    &__image {
        height: 230px;
    }

    @media(max-width: 576px) {
        &__wrap {
            gap: 20px;
        }
    }
}

.idea {
    padding: clamp(85px, 10vw, 100px) 0px;

    &__container {
        max-width: 1031px;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
    }

    &__massage {

        img {
            width: clamp(40px, 8vw, 85px);
        }
    }

    &__text {
        h2 {
            color: $font-white;
            font-size: clamp(18px, 4vw, 32px)
        }

        p {
            color: $standart-color;
            max-width: 246px;
            font-size: 14px;
        }
    }

    &__btn {
        width: clamp(130px, 20vw, 215px);
        height: fit-content;
        @include button;
        font-size: 14px;
    }

    &__walls {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 170px;
    }


    @media (max-width:768px) {
        &__container {
            width: 100%;
            flex-direction: column;
            justify-content: center;
        }

        &__walls {
            width: 100%;
        }

        &__text {
            h2 {
                color: $font-white;
            }

            p {
                max-width: 100%;
            }
        }

    }
}


.footer {
    padding: 2vw 0vw 0vw 0vw;

    &__wrap {
        width: 1200px;
    }

    h5 {
        color: $font-white;
    }

    &__network {
        max-width: 288px;

        p {
            color: $standart-color;
        }
    }

    &__designer {
        svg {
            margin-right: 5px;
        }

        span {
            color: $font-white;
            font-weight: 700;
            font-size: 16px;
        }
    }

    &__icon {
        gap: 12px;

        a {
            height: 100%;
        }
    }

    &__curcle {
        width: 30px;
        height: 30px;
        border-radius: 19px;
        background: var(--Unnamed-Color, rgba(85, 85, 85, 0.1));
        cursor: pointer;
    }

    &__ul {
        padding: 0;
    }

    &__li {
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            color: $font-white;
        }

        a {
            transition: 0.3s ease;
            color: $standart-color;

            &:hover {
                color: $font-white;
            }
        }

        span {
            width: 100%;
            margin-left: 5px;
        }

    }

    &__info {
        max-width: 200px;
    }

    &__line {
        width: 100%;
        height: 1px;
        background: #171719;
        margin: 1.5% 0%;
    }

    &__end {
        display: block;
        margin-bottom: 1.5%;
        color: $standart-color;
        font-family: "Satoshi";
        font-size: 14px;
    }

    @media (max-width:992px) {
        &__info {
            max-width: 100%;
        }

        &__icon {
            margin-bottom: 1rem;
        }
    }

    @media (max-width:576px) {
        &__network {
            max-width: 100%;

        }

    }
}