a {
    text-decoration: none;
    font-family: satoshi;
    color: #E6E6E6;
}

button {
    border: none;
}

body {
    padding: 0;
    background-color: #0A0A0C;
}

.header {

    background-color: #171719;

    &__container {
        padding: 6px 0px;
    }

    // .header__social

    &__social {}

    // .header__network

    &__network {
        gap: 12px;
    }

    // .header__icon

    &__icon {
        width: 30px;
        height: 30px;
        border-radius: 19px;
        background: var(--Unnamed-Color, rgba(85, 85, 85, 0.10));
    }

    // .header__connection

    &__connection {
        width: 640px;
        gap: 10px;
    }

    &__connectionIcon {
        gap: 5px;
        color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
        font-family: 'satoshi';
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
            color: var(--Unnamed-Color, #E6E6E6);
        }

    }

    // .header__nav

    &__nav {
        padding-top: 15px;
        font-family: satoshi;
        font-weight: 700;
    }

    &__href {
        color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));

        &:hover {
            color: var(--Unnamed-Color, #E6E6E6);
        }
    }

    // .header__logo

    &__logo {
        svg {
            margin-right: 5px;
        }
    }

    // .header__menu

    &__menu {}

    // .header__ul

    &__ul {
        gap: 47px;
    }

    // .header__button

    &__button {
        gap: 8px;
        display: flex;
        padding: 8px 15px;
        align-items: flex-start;
        gap: 8px;
        border-radius: 29px;
        background: var(--Unnamed-Color, linear-gradient(94deg, #194BFD -15.33%, #AD13FB 139.21%));
    }
}